@import 'variables';

@media screen and (max-width: 480px) {
  body {
    overflow: auto;
  }

  #scrolling-progress {
    display: none;
  }
  #face-img {
    max-width: 80%;
  }

  .language {
    position: absolute;
    left: calc(100% - 30px);
    top: -3%;
    i {
      font-size: 4em;
    }
  }
  #language-list {
    top: 13.5%;
    left: calc(100% - 260px);
    ul {
      list-style: none;
      width: 220px;
      a {
        text-decoration: none;
        color: $color-text;
        font-family: $font;
        font-size: 1.5em;
        cursor: pointer;
      }
      li {
        padding: 25px;
        background-color: $color4;
        opacity: .8;
        border-radius: 5px;
        border-top: 1px solid $color6;
        //border-bottom: 1px solid black;
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .animation-block {
    position: relative;
    display: block;
    width: 400px;
    height: auto;
    padding: 0;
    text-align: center;
    //height: 380px;
    //padding-top: 100px;
    z-index: 0;
  }
  
  #first-block {
    margin-top: 100px;
  }

  .name {
    margin-top: 40px ;
    font-size: 3.5em;
  }
  .speciality {
    font-size: 2.5em;
  }

  #second-block {
    margin-top: 200px;
    padding: 0;
  }

  #third-block {
    display: none;
  }

  #third-block-mobile {
    display: block;
    margin-top: 100px;
    p {
      font-size: 2em;
    }
  }

  //fourth block
  #fourth-block {
    position: relative;
    //padding: 850px 0 0 0px;
    margin-top: 80px;
    p {
      font-size: 2em;
      padding-left: 25px;
    }
    .text-block {
      font-size: 1.5em;
    }
  }

  //fifth block
  #fifth-block {
    margin-top: 180px;
    padding-bottom: 100px;
    .links {
      font-size: 100px;
    }
    .contacts {
      font-size: 35px;
    }
  }

  #next {
    display: none;
  }
}