@font-face {
  font-family: "starjedi";
  src: url("../fonts/StarJedi/starjedi/Starjedi.ttf")
}
@font-face {
  font-family: "starjout";
  src: url("../fonts/StarJedi/starjout/Starjout.ttf")
}
@font-face {
  font-family: "stjedise";
  src: url("../fonts/StarJedi/stjedise/STJEDISE.TTF")
}
@font-face {
  font-family: "stjelogo";
  src: url("../fonts/StarJedi/stjelogo/Strjmono.ttf")
}

@import 'variables';
@import 'mixins';

//@include font-face(Starjedi, fonts/Starjedi);
//@include font-face(Star_Jedi_Rounded, fonts/Starjedi);
//@include font-face(Starjhol, fonts/Starjedi);

p {
  font-family: "starjout";
  font-size: 70px;
  color: yellow;
}

td, th {
  border: none !important;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-size: 16px;
  letter-spacing: 4px;
  min-width: 320px;
  //height: 2600px;
  position: relative;
  line-height: 1.2;
  //font-family: "RobotoRegular", sans-serif;
  overflow: hidden;
  background-image: url('../img/background.jpg');
  //background-position-x: 100%;
  background-size: 1000px;

}
#scrolling-progress {
  background: none;
  border: none;
  z-index: 1;
  ul{
   margin-left: 600px;
  }
  li {
    a {
      width: 12px;
      height: 12px;
      padding: 0;
      border-radius: 50%;
      margin: 5px;
      opacity: 0.2;
      background-color: yellow;

    }
  }
  .active {
    margin-bottom: 10px;
    a {
      width: 17px;
      height: 17px;
      opacity: 0.5;
    }
  }
}

.animation-block {
  height: 680px;
  padding-top: 100px;
  z-index: 0;
}

.animation-block:last-child {
  height: 200px;
}

#first-block{
  position: relative;
}

#face-img {
  max-width: 35%;
}

.speciality {
  font-size: 35px;
}

//Second block
#second-block {
  position: relative;
  padding-top: 250px;
  //top: 13%;
  font-family: starjedi;
  color: yellow;
}

//Third block
#third-block {
  position: relative;
  width: 1450px;
  padding: 250px 0 0 350px;
  //top: 26%;
  .text-block {
    font-size: 25px;
  }
}

//fourth block
#fourth-block {
  position: relative;
  //width: 1450px;
  padding: 150px 0 0 0px;
  //top: 26%;
  .text-block {
    font-size: 25px;
  }
  .experience-text {
    color: yellow;
    line-height: 30px;
    list-style-type: none;
    letter-spacing: 1px;
  }
}

//fifth block
#fifth-block {
  position: relative;
  //top: 39%;
  .links {
    font-size: 300px;
  }
  .contacts {
    font-size: 35px;
  }
}

#next {
  position: fixed;
  top: 90%;
  left: 90%;
  font-family: starjedi;
  background-color: black;
  color: yellow;
  z-index: 2;
}

.hidden {
  display: none;
}

//ALWAYS END
@import 'media';