@font-face {
  font-family: "starjedi";
  src: url("../fonts/StarJedi/starjedi/Starjedi.ttf")
}
@font-face {
  font-family: "starjout";
  src: url("../fonts/StarJedi/starjout/Starjout.ttf")
}
@font-face {
  font-family: "stjedise";
  src: url("../fonts/StarJedi/stjedise/STJEDISE.TTF")
}
@font-face {
  font-family: "stjelogo";
  src: url("../fonts/StarJedi/stjelogo/Strjmono.ttf")
}

@import 'variables';
@import 'mixins';

//@include font-face(Starjedi, fonts/Starjedi);
//@include font-face(Star_Jedi_Rounded, fonts/Starjedi);
//@include font-face(Starjhol, fonts/Starjedi);

p {
  font-family: "starjout";
  font-size: 70px;
  color: yellow;
}

td, th {
  border: none !important;
}
#next {
  position: fixed;
  top: 90%;
  left: 90%;
  font-family: starjedi;
  background-color: black;
  color: yellow;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-size: 16px;
  min-width: 320px;
  height: 2600px;
  position: relative;
  line-height: 1.2;
  //font-family: "RobotoRegular", sans-serif;
  overflow: hidden;
  background-image: url('../img/background.jpg');
  //background-position-x: 100%;
  background-size: 1000px;

}

header {
  height: 100px;
}

#first-block{
  position: relative;
}

#face-img {
  max-width: 35%;
}

.speciality {
  font-size: 35px;
}

//Second block
#second-block {
  position: relative;
  top: 13%;
  font-family: starjedi;
  color: yellow;
}

//Third block
#third-block {
  position: relative;
  top: 26%;
  .text-block {
    font-size: 25px;
  }
}

//fourth block
#fourth-block {
  position: relative;
  top: 39%;
  .links {
    font-size: 300px;
  }
  .contacts {
    font-size: 35px;
  }
}

.hidden {
  display: none;
}

//ALWAYS END
@import 'media';