@font-face {
  font-family: "starjedi";
  src: url("../fonts/StarJedi/starjedi/Starjedi.ttf")
}
@font-face {
  font-family: "starjout";
  src: url("../fonts/StarJedi/starjout/Starjout.ttf")
}
@font-face {
  font-family: "stjedise";
  src: url("../fonts/StarJedi/stjedise/STJEDISE.TTF")
}
@font-face {
  font-family: "stjelogo";
  src: url("../fonts/StarJedi/stjelogo/Strjmono.ttf")
}
@font-face {
  font-family: "beer money";
  src: url("../fonts/beermoney/beer money.ttf")
}

@import 'variables';
@import 'mixins';

//@include font-face(Starjedi, fonts/Starjedi);
//@include font-face(Star_Jedi_Rounded, fonts/Starjedi);
//@include font-face(Starjhol, fonts/Starjedi);

p {
  font-family: $font;
  text-transform: capitalize;
  font-size: 70px;
  color: $color-text;
}

td, th {
  border: none !important;
}

::-webkit-scrollbar {
  display: none;
}


body {
  font-size: 16px;
  letter-spacing: 4px;
  //min-width: 320px;
  position: relative;
  line-height: 1.2;
  //font-family: "RobotoRegular", sans-serif;
  overflow: hidden;
  background-image: url('../img/background2.jpg');
  //background-position-x: 100%;
  background-size: 1370px;
  //user-select: none;
}

.language {
  position: fixed;
  left: calc(100% - 100px);
  top: 5%;
  background: none;
  border: none;
  &:focus {
    outline: none;
  }
  i {
    color: $color-text;
    opacity: .8;
    &:hover {
      opacity: 1;
    }
  }
}
#language-list {
  position: fixed;
  z-index: 2;
  top: 12%;
  left: calc(100% - 245px);
  ul {
    list-style: none;
    a {
      text-decoration: none;
      color: $color-text;
      font-family: $font;
      font-size: 1.2em;
    }
    li {
      padding: 10px;
      background-color: $color4;
      opacity: .8;
      border-radius: 5px;
      border-top: 1px solid $color6;
      //border-bottom: 1px solid black;
      &:hover {
        opacity: 1;
      }
    }
  }
}

#scrolling-progress {
  background: none;
  border: none;
  z-index: 1;
  ul{
    width: 120px;
    margin-left: calc(50% - 60px);
  }
  li {
    a {
      width: 12px;
      height: 12px;
      padding: 0;
      border-radius: 50%;
      margin: 5px;
      opacity: 0.4;
      background-color: $color-text;

    }
  }
  .active {
    margin-bottom: 10px;
    a {
      width: 17px;
      height: 17px;
      opacity: 0.7;
    }
  }
}

.animation-block {
  height: 680px;
  padding-top: 100px;
  z-index: 0;
}

.animation-block:last-child {
  height: 200px;
}

#first-block{
  position: relative;
}

#face-img {
  max-width: 35%;
  border-radius: 50%;
}

.speciality {
  font-size: 35px;
}

//Second block
#second-block {
  position: relative;
  padding-top: 250px;
  font-family: $font;
  font-weight: bold;
  font-size: 1.2em;
  text-transform: capitalize;
  color: $color-text;
}

//Third block
#third-block {
  position: relative;
  width: 1450px;
  padding: 250px 0 0 350px;
  .text-block {
    font-size: 2em;
  }
}

//fourth block
#fourth-block {
  position: relative;
  //width: 1450px;
  padding: 150px 0 0 0px;
  overflow-y: auto;
  .text-block {
    font-size: 25px;
  }
  .experience-text {
    color: $color-text;
    line-height: 30px;
    list-style-type: none;
    letter-spacing: 1px;
  }
}

//fifth block
#fifth-block {
  position: relative;
  //top: 39%;
  .links {
    font-size: 300px;
    a {
      color: $color-text;
      opacity: .5;
      &:hover {
        opacity: .8;
      }
    }
  }
  .contacts {
    font-size: 35px;
  }
}

#next {
  position: fixed;
  top: 90%;
  left: 90%;
  font-family: $font;
  background-color: $color-text;
  color: $color4;
  z-index: 2;
  &:focus {
    outline: none;
  }
}

.hidden {
  display: none;
}

//ALWAYS END
@import 'media';