@font-face {
  font-family: "starjedi";
  src: url("../fonts/StarJedi/starjedi/Starjedi.ttf"); }

@font-face {
  font-family: "starjout";
  src: url("../fonts/StarJedi/starjout/Starjout.ttf"); }

@font-face {
  font-family: "stjedise";
  src: url("../fonts/StarJedi/stjedise/STJEDISE.TTF"); }

@font-face {
  font-family: "stjelogo";
  src: url("../fonts/StarJedi/stjelogo/Strjmono.ttf"); }

p {
  font-family: "starjout";
  font-size: 70px;
  color: yellow; }

body {
  font-size: 16px;
  min-width: 320px;
  height: 5000px;
  position: relative;
  line-height: 1.2;
  background-image: url("../img/background.jpg"); }

header {
  height: 100px; }

#first-block {
  position: absolute; }

#face-img {
  max-width: 35%; }

.speciality {
  font-size: 35px; }

.hidden {
  display: none; }
